<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINANCEZ</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-logo">
            FINANCEZ
        </div>
        <ul class="sidebar-toplist">
            <div class="sidebar-toplist-item">
                <a class="sidebar-toplist-item-link" href="">Account</a>
            </div>
            <div class="sidebar-toplist-item">
                <a class="sidebar-toplist-item-link" href="">Edit Cridentials</a>
            </div>
            <div class="sidebar-toplist-item">
                <a class="sidebar-toplist-item-link" href="">Settings</a>
            </div>
        </ul>
        <ul class="sidebar-bottomlist">
            <div class="sidebar-bottomlist-item">
                <a class="sidebar-bottomlist-item-link" href="/dashboard">Return to Dashboard</a>
            </div>
        </ul>
    </div>
    <div class="content">
        <div class="content-summary">
            <h1>Account Center</h1>
            <p>This is the main content area of your account center.</p>
        </div>
        <a href="/login">Logout</a>
    </div>
</body>

</html>