<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINANCEZ</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="/common/dashboardSlider.js"></script>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-logo">
            FINANCEZ
        </div>
        <ul class="sidebar-toplist">
            <div class="sidebar-toplist-item">
                <a class="sidebar-toplist-item-link" href=""><img class="sidebar-toplist-item-icon" src="/iconography/IconDashboard.svg">Dashboard</a>
            </div>
            <div class="sidebar-toplist-item">
                <a class="sidebar-toplist-item-link" href="">Search</a>
            </div>
        </ul>
        <div class="sidebar-end">
            <a href="#">Account Center</a>
        </div>
    </div>
    <div class="content">
        <h1>Welcome to the Dashboard</h1>
        <p>This is the main content area of your dashboard.</p>
    </div>
</body>
</html>