<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINANCEZ</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="/common/dashboardSlider.js"></script>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-logo">
            FINANCEZ
        </div>
        <ul class="sidebar-toplist">
            <div class="sidebar-toplist-item">
                <a class="sidebar-toplist-item-link" href=""><img class="sidebar-toplist-item-icon" src="/iconography/IconDashboard.svg">Dashboard</a>
            </div>
            <div class="sidebar-toplist-item">
                <a class="sidebar-toplist-item-link" href="">Search</a>
            </div>
            <div class="sidebar-toplist-item">
                <a class="sidebar-toplist-item-link" href="">Settings</a>
            </div>
        </ul>
        <ul class="sidebar-bottomlist">
            <div class="sidebar-bottomlist-item">
                <a class="sidebar-bottomlist-item-link" href="/account-center">Account Center</a>
            </div>
        </ul>
    </div>
    <div class="content">
        <div class="content-summary">
            <h1>Welcome to the Dashboard</h1>
            <p>This is the main content area of your dashboard.</p>
        </div>
        <div class="content-table">
            <table>
                <tr>
                  <th>Company</th>
                  <th>Contact</th>
                  <th>Country</th>
                </tr>
                <tr>
                  <td>Alfreds Futterkiste</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                </tr>
                <tr>
                  <td>Centro comercial Moctezuma</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                </tr>
              </table>
        </div>
    </div>
</body>
</html>