<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINANCEZ Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <p>Hello!</p>
</body>
</html>