body{
    top: 0;
    left: 0;
    color: #fff;
    background-color: var(--black);
    font-family: Metropolis;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 360px;
    background-color: var(--black2);
    box-sizing: border-box;
    border-right: solid 1px var(--black3);}

.sidebar-logo{
    padding: 16px;
    font-weight: 900;
}

.sidebar-toplist{
    list-style-type: none;
    padding: 0px;
    padding-bottom: 8px;
    border-bottom: solid 1px var(--black3);}
    .sidebar-toplist-item{
        text-decoration: none;}
        .sidebar-toplist-item-icon{
            height: 16px;
            margin-right: 8px;
            background-color: var(--black);
        }
        .sidebar-toplist-item-link{
            padding: 8px 8px;
            flex: 1;
            color: #fff;
            text-decoration: none;
            transition: 0.3s ease;
            display: block;}
            .sidebar-toplist-item:hover{
                background-color: var(--black3);
                border-radius: 8px;
                transition: 0.3s ease;}

.sidebar-mainlist{
    list-style-type: none;
    padding: 0px;
    padding-bottom: 8px;
    border-bottom: solid 1px var(--black3);}


.sidebar-bottomlist{
    margin-top: auto;
    list-style-type: none;
    padding: 0px;
    padding-top: 8px;
    border-top: solid 1px var(--black3);
}
.sidebar-bottomlist-item{
    text-decoration: none;}
.sidebar-bottomlist-item-link{
    padding: 8px 8px;
    flex: 1;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
    display: block;}
    .sidebar-bottomlist-item:hover{
        background-color: var(--black3);
        border-radius: 8px;
        transition: 0.3s ease;
    }


.content{
    position: fixed;
    top: 0px;
    left: 360px;
    padding: 64px;
    width: calc(100% - 360px - 64px - 64px);}
    .content-summary{
        display: block;
        height: 360px;}
    .content-table{
        width: 100%;}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */}
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */}
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

:root{
    --white: #F9FBFD;
    --lightgray: #BCBEC0;
    --gray: #7E8082;
    --darkgray: #404244;
    --black: #020406;
    --black2: #0b0d0f;
    --black3: #1F2123;
}