body{
    top: 0;
    left: 0;
    color: #fff;
    background-color: var(--black);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 360px;
    background-color: var(--black2);
    padding: 16px;
    box-sizing: border-box;
    border-right: solid 1px var(--black3);
}

.sidebar-end{
    margin-top: auto;
}

.sidebar-list{
    list-style-type: none;
    padding: 16px;
}

.sidebar-list-item{
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content{
    position: fixed;
    left: 360px;
}

:root{
    --white: #F9FBFD;
    --lightgray: #BCBEC0;
    --gray: #7E8082;
    --darkgray: #404244;
    --black: #020406;
    --black2: #040608;
    --black3: #0F1112;
}